# Lambda and map Function Assignments

In [1]:
# Q1


Q Sort all the numbers in a list in descending order using lambda function

In [1]:
list1=[12,34,2,5,88,43,4567,32,4,3]
result=(lambda n:(sorted(n)))(list1)

In [2]:
result

[2, 3, 4, 5, 12, 32, 34, 43, 88, 4567]

In [3]:
# Q2

In [ ]:
Q Sort all the characters of given string using lambda function

In [9]:
string='tejaskolambe'

In [12]:
result1=(lambda s:''.join(sorted(s)))(string)
result1

'aabeejklmost'

In [14]:
# Q3

Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [24]:
string_list=['how','are','you','what','are','you','doing','now']

In [37]:
def sec_char(str1):
    return str1[-1][-1]

In [38]:
sec_char(string_list)

'w'

In [53]:
print(sorted(string_list,key=sec_char))

['are', 'are', 'doing', 'what', 'you', 'you', 'how', 'now']

In [47]:
# res=(lambda str11: str11[-1])(string_list)

In [93]:
print(sorted(string_list,key=lambda str11: str11[-1]))

['are', 'are', 'doing', 'what', 'you', 'you', 'how', 'now']

In [40]:
# Q4

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [54]:
emp=['Tejas','omkar','vivek','Tejas','shivam','omkar','viraj','purven']

In [71]:
emp=set(emp)
emp

{'Tejas', 'omkar', 'purven', 'shivam', 'viraj', 'vivek'}

In [72]:
emp=list(emp)
emp

['omkar', 'shivam', 'viraj', 'Tejas', 'vivek', 'purven']

In [73]:
def chara(empname):
    return empname[1]

In [74]:
print(sorted(emp,key=chara))

['Tejas', 'shivam', 'viraj', 'vivek', 'omkar', 'purven']

In [92]:
print(sorted(emp,key=lambda nm:nm[1]))

['Tejas', 'shivam', 'viraj', 'vivek', 'omkar', 'purven']

In [76]:
# Q5

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [46]:
# dictionary_emp={}
# for i in range(5):
#     empid=int(input("Enter empid "))
#     ename=input('Enter employee name ')
#     dictionary_emp.update({empid:ename})

In [13]:
def emp_details(n):
    dictionary_emp={}
    for i in range(n):
        empid=int(input("Enter empid "))
        ename=input('Enter employee name ')
        dictionary_emp.update({empid:ename})
    sorted(dictionary_emp.keys())
    sorted(dictionary_emp.values())
    return dictionary_emp

In [14]:
emp_details(5)

Enter empid 4
Enter employee name ttt
Enter empid 5
Enter employee name aaa
Enter empid 1
Enter employee name zzz
Enter empid 6
Enter employee name hg
Enter empid 9
Enter employee name jhg

{4: 'ttt', 5: 'aaa', 1: 'zzz', 6: 'hg', 9: 'jhg'}

In [1]:
# Q6


Q. Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [6]:
num=input("enter number in comma separated ")
num=num.split(',')
result=list(map(float,num))
print(result)

enter number in comma separated 4,6,4,98,5,4,54,64
[4.0, 6.0, 4.0, 98.0, 5.0, 4.0, 54.0, 64.0]

In [7]:
#Q7

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [9]:
floating=[4.0,6.0,4.0,98.0,5.0,54.0,64.0]

In [13]:
conversion=list(map(str,floating))
print(conversion)
result='|'.join(conversion)
print(result)

['4.0', '6.0', '4.0', '98.0', '5.0', '54.0', '64.0']
4.0|6.0|4.0|98.0|5.0|54.0|64.0

In [14]:
# Q8


Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [20]:
number=[12,34,54,11,22,34,25,2,13]

In [21]:
# def sq(num):
#     return num**2

In [36]:
# sqa=(lambda num:num**2)

In [43]:
# result=list(map(sqa,number))

In [44]:
result=list(map((lambda num:num**2),number))

In [45]:
result

[144, 1156, 2916, 121, 484, 1156, 625, 4, 169]